body {
    background-color: #efefef;
}
.main {
    background-color: white;
    margin: 30px;
}
.menu-color {
    margin-left: 15px;
    color: #999;
    font-size: 12px;
}
.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.list-group {
    margin-top: 25px;
}
.jumbotron {
    margin: 100px;
}
.media-heading {
    margin-top: 18px;
}
.avatar-size{
    width: 65px;
    height: 65px;
}

.btn-publish {
    float: right;
    margin-bottom: 20px;
}
.btn-primary {
    float: right;
    margin-bottom: 10px;
    width: 80px;
    font-size: 16px;
}
.collapse-btn {
    margin: 10px 0;
}

.question-title {
    margin-top: 30px;
}
.question-comment {
    margin-top: 15px;
}
.question-tag{
    margin-right: 5px;
}
.question-submit {
    margin-top: 15px;
}
.question-related{
    list-style: none;
    padding-left: 15px;
    line-height: 25px;
    font-size: 15px;
}

.publish-tag{
    display: none;
    margin-top: 10px;
}
.tab-tags{
    padding-top: 5px;
}
.tag-label{
    white-space: normal;
    margin: 5px 5px;
    display: inline-block;
}

.comment {
    margin: 10px 0;
}
.comment-sp {
    margin-top: 0;
}
.comments {
    padding-top: 15px;
    margin-bottom: 5px;
    border-top: 1px solid #eee;
}
.sec-comments {
    padding-top: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.sub-comments {
    border-radius: 10px;
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 10px;
    margin-bottom: 10px;
}
.comment-user {
    margin-top: 10px;
}

.icon-menu {
    color: #999999;
}
.menu-icon-1 {
    font-size: 17px;
    margin-right: 7px;
    cursor: pointer;
    vertical-align: middle;
}
.menu-icon-2 {
    font-size: 17px;
    cursor: pointer;
    vertical-align: middle;
}
.menu-icon-1:hover {
    color: #499ef3;
}
.menu-icon-2:hover {
    color: #499ef3;
}
.menu-active {
    color: #499ef3;
}

.index-right{
    margin-top: 40px;
}
.right-img{
    width: 50%;
    margin-left: 60px;
}
.right-user{
    margin-top: 25px;
}

.footer{
    text-align: center;
    padding-bottom: 10px;
    color: #666666;
}
.email{
    margin-bottom: 0;
}